<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>Anatomy of a Score.md</key>
			<dict>
				<key>lastModification</key>
				<real>557678362.82885003</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>Character playbooks.md</key>
			<dict>
				<key>lastModification</key>
				<real>557262202.64227402</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>Crew Types.md</key>
			<dict>
				<key>lastModification</key>
				<real>553080952.12253404</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Divergence (Wanted Replacement).md</key>
			<dict>
				<key>lastModification</key>
				<real>557677603.669258</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>Factions.md</key>
			<dict>
				<key>lastModification</key>
				<real>557262202.64228201</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>Glossary.md</key>
			<dict>
				<key>lastModification</key>
				<real>557765237.291646</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>Move ideas.md</key>
			<dict>
				<key>lastModification</key>
				<real>557262208.67310798</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>553080927.29547501</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Ripples (Heat replacement).md</key>
			<dict>
				<key>lastModification</key>
				<real>557677598.26968706</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>Skill list.md</key>
			<dict>
				<key>lastModification</key>
				<real>553080927.29547596</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Stress &amp; Trauma.md</key>
			<dict>
				<key>lastModification</key>
				<real>553424019.41495705</real>
				<key>version</key>
				<dict>
					<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
					<integer>16</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Stress &amp; Trauma.md</string>
		</array>
		<array>
			<string>Move ideas.md</string>
		</array>
		<array>
			<string>Crew Types.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Skill list.md</string>
		</array>
		<array>
			<string>Character playbooks.md</string>
		</array>
		<array>
			<string>Divergence (Wanted Replacement).md</string>
		</array>
		<array>
			<string>Ripples (Heat replacement).md</string>
		</array>
		<array>
			<string>Anatomy of a Score.md</string>
		</array>
		<array>
			<string>Glossary.md</string>
		</array>
		<array>
			<string>Factions.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>aa5bade5e3b632e6a0505ea3121046b5ce644945bc4f135b63684aa59e90b08f</key>
			<integer>35</integer>
		</dict>
	</dict>
</dict>
</plist>
